body {
  font-family: Arial,;
  background: #f8fdf8;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #4caf50;
  color: white;
}
.plant-card img {
  width: 200px;      /* set a fixed width */
  height: 200px;     /* or use auto for proportional scaling */
  object-fit: cover; /* crops the image neatly */
  border-radius: 10px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.plant-card, .cart-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}
